html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #ddd;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-outer {
  width: 1155px;
  height: 768px;
}

.flipbook {
  width: 1155px;
  height: 768px;
}

.page {
  width: 1155px;
  height: 768px;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
