* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ddd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-outer {
  width: 100%;
  max-width: 1155px;
  aspect-ratio: 3/2;
  overflow: hidden;
}

.flipbook {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.nav-button {
  position: fixed;
  top: 50%;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  user-select: none;
  border-radius: 5px;
  transform: translateY(-50%);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

/* Responsivo para celular */
@media (max-width: 768px) {
  .book-outer {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
  }

  .flipbook {
    width: 100vw;
    height: auto;
    aspect-ratio: auto;
  }

  .page {
    width: 100%;
    height: auto;
  }

  .page img {
    object-fit: contain;
    height: auto;
  }

  .nav-button {
    font-size: 1.5rem;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .nav-button {
    font-size: 1.8rem;
    padding: 8px;
  }
}

.game-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.game-button {
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}
.game-button:hover {
  transform: scale(1.05);
}
