body {
  background: #ddd;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.book-outer {
  width: 1155px;
  height: 768px;
}

.flipbook {
  width: 1155px;
  height: 768px;
}

.page {
  width: 1155px;
  height: 768px;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
